.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
    
  }
  
  .sidebar {
    width: 250px;
    background-image: linear-gradient(to bottom, #3b3125, #2b3125, #151c19);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  .sidebar .logo {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #1A7431;
    padding: 10px;
    border-radius: 10px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: linear-gradient(to bottom,#34c734, #34C759, #2E865F); /* green gradient */
  }
  
  .card {
    width: 350px;
    height: 300px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 20px;
  }